body {
	font: 90% georgia, sans-serif;
	line-height: 1.88889;
	color: #30362c;
	background: #FFD1AA url(https://images2.imgbox.com/f5/20/golDKAgp_o.jpg) no-repeat bottom right;
	background-size: 40% auto;
	margin: auto;
	padding: 0;
	min-width: 650px;
}
p {
	margin-top: 0;
	text-align: justify;
}
h1 {
	text-align: center;
	font: italic normal 4.5vw georgia, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #616c58;
}
h2 {
	font: italic normal 2.0em georgia, sans-serif;
	text-align: left;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #616c58;
	font-weight: bold;
}
h3 {
	font: italic normal 1.5em georgia, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #616c58;
	font-weight: bold;
}
/* DIV STYLING*/

.Header {
	margin-right: 4%;
	margin-left: 4%;
	margin-top: 0;
	padding-top: 1px;
	padding-bottom: 7%;
	height: auto;
	min-height: 50px;
	background: #E5BC99 url(https://images2.imgbox.com/26/b2/BgULsTst_o.jpg) no-repeat top left;
	background-size: 30% auto;
}
.Menu {
	margin-right: 4%;
	margin-left: 4%;
	margin-top: 0;
	padding: 0;
	height: 3vw;
	background-color: #E5BC99;
}
.Menu ul {
	margin-top: 0;
	padding-bottom: 5px;
}
.Menu li {
	list-style-type: none;
	float: left;
	display: block;
	width: 15vw;
	min-width: 100px;
	max-width: 200px;
	height: 3vw;
	text-align: center;
	line-height: 20px;
	font-size: 2vw;
	margin-right: 1vw;
	padding-top: 15px;
	padding-bottom: 5px;
	/*Here I am using little more padding for list items just for aesthetic look. Its is not a case of BrokenBox.*/
	background-color: #d74242;
}
.Menu li a {
	font-weight: bold;
	text-decoration: none;
	color: #87987B;
}
.Menu a:hover, a:focus, a:active {
	text-decoration: underline;
	color: #454e30;
}
.Mainbody {
	margin-right: 4%;
	margin-left: 4%;
	margin-top: 20px;
}
.payasamimage img {
	display: block;
	margin: auto;
	width: 40%;
}
.payasamimage figcaption {
	text-align: center;
}
.Footer footer {
	margin-right: 4%;
	margin-left: 4%;
	margin-top: 0;
	margin-top: 20px;
	min-width: 750px;
	float: left;
	text-align: left;
	list-style-type: none;
	display: block;
}
.Footer footer a:link, footer a:visited {
	padding-right: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #87987B;
}
